{% extends 'student_template/base_template.html' %}

{% block page_title %}
    {{ subject_data.subject_name }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
  <section class="content">
    <div class="row">
      <div class="col-sm">
      </div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Modules</a>
        </li>
      </ul>

      <div class="col-sm">
      </div>
    </div>
    <hr>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="card" style="height:240px; max-width:1000px;">
                      <div class="card-body" style="background: var(--cyan);color: var(--secondary);  border-radius:8px;">
                        <div style="position:absolute; bottom: 0; margin-bottom: 10px;">
                          <h2 style="color: #ffffff;">{{ subject_data.subject_name }}</h2>
                          <a href="{% url 'room' subject_data.id student_data.section_id.id %}"><button class="btn btn-primary" type="button">Join Room</button></a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="card">
                    <div class="card-body" style="border-radius:8px;">
                      <h5 class="card-title">Recordings</h5><br />
                      <hr>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">See All Recordings</a>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="card" style="max-width:620px;">
                    <div class="card-body" style="border-radius:8px;">
                      <h5 class="card-title">Announcement</h5>&nbsp;<br/>
                      <hr>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container">
              <div class="row justify-content-center">
                {% for module in module_list %}
                  <div class="col-md-5">
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h4>{{module.name}}</h4>

                      <p>{{ module.grading_id.grading_name }}</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-folder"></i>
                      </div>
                      <a href="{% url 'view_single_module' subject_data.id module.id %}" class="small-box-footer">View Modules<i class="fas  fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-classwork" role="tabpanel" aria-labelledby="pills-classwork-tab">
          </div>
          <div class="tab-pane fade" id="pills-gradebook" role="tabpanel" aria-labelledby="pills-gradebook-tab">
            <div class="container">
              <div class="row justify-content-center">

                <table class="table">
                  <tr>
                    <th></th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
    </div>
</section>
  {% endblock main_content %}

  {% block custom_js %}
    <script>

    </script>
  {% endblock custom_js %}
